@charset "ISO-8859-1";
.form{
	margin    : auto;
	width     : 60%;
	padding   : 10px;
	text-align: left;
	font-size: 20px;
}
label{
	margin-top:15px;
	display: inline-block;
}
input{
	height: 30px;
	width: 500px;
	float:right;
	font-size: 20px;
}

.textarea-dim{
	height: 300px;
	width: 900px;
	float:center;
}


button{
	margin-top: 20px;
	border: none;
	height: 50px;
	width: 100px;
	background-color: blue;
	color:white;
	font-size: 20px;
}